header {
	text-align: center;
	position:relative;
	left:0;
	top:0;	
}

h2	{
  top:-20px;
  color: black;
  font-family: Verdana, Arial, sans-serif;
  position:absolute;
}

.right {
  flex: 85%;
  padding: 15px;
  text-align: center;
}

.lijst {
		position: relative;
		top: 0;
		left: 0;
}

.paint {
		position: absolute;
		top: 40px;
		left: 42.25%;
		text-align:center;
}

#city {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Verdana;
  float:center-left;
}

#city img {
	float: center-left;
	padding-right: 50px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: gray;
}