body {
	background-image: url("https://images.arcadis.com/media/6/6/8/%7B66844D25-A8FF-46FB-BBF6-E5855A6087E3%7DRijksmuseumAmsterdam-main.jpg?width=1920&height=0&mode=crop&anchor=top");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}


h1{
  text-align:center;
  font-size: 300px;
  color: white;
  font-family: Verdana, Arial, sans-serif;
}

.main{
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 5px;
}

input[type="text"]{
    border: none;
    padding: 10px;
    margin-left: 610px;
    height: 40px;
    width: 200px;
    border:1px solid #eaeaea;
    outline:none;
    text-align:center;
}

input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input:focus{
    border-color:#4d90fe;
}

input[type="submit"] {
    background: #f2f2f2;
    border: 0px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 50px;
    height:40px;
  }

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
