body {
 background: #CDDCDC radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%) no-repeat;
 background-blend-mode: screen, overlay;
	}
	
header {
	text-align: center;
}

header h1 {
	font-family:"Bradley Hand ITC", sans-serif;
	color: #006400;
}

section {
	margin-left: 670px;
}

tr {
	text-align: center;
}